@charset "utf-8";

$primary-color: #383838;
$secondary-color: #C71585;

// Global
@import "global/accessibility";
@import "global/colors";
@import "global/wp-overrides";
@import "global/typography";

// Modules
@import "modules/home";
@import "modules/terminal";
@import "modules/single";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
}

.secondary-color {
  color: $secondary-color;
}
